<div id="section-spinlogo" class="page-width text-center biglowlogobox lazyloaded">
    <div class="lowlogobox">
            <img src="https://lh3.googleusercontent.com/Is15iUm7wmUdojCl1Y5j8Xp1um_csTiqQLTpM5P4xvR1qWfOPVHzmOpeb4qakxN4V83C2bOCG7Uq45UxlqI8O47-FvCTrT4F-OIWxtT8mezewQ2Koh6pyDGn8SUogb15gigQdBlm-g=w2400" class="lowimg" alt="babey">
    </div>
</div>
{% schema %}
{
"name": "low resource Logo",
"settings": [],

  "presets": [
    {
      "name": "low resource Logo",
      "category": "Spin tha Logo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
